<% if user_signed_in? %>
<% @private_data.each do |private_datum| %>
  <% if private_datum.user==current_user %>
        <%= link_to image_tag(private_datum.picture_url, size: "120", class: "img-circle"), private_datum %>
  <% end %>
<% end %>

<% else %>
<div class="private_datum row clearfix">
  <h2>動態消息</h2>
  <h2>留言板</h2>
</div>

<% end %>
