<table class="table table-hover">
  <thead>
    <tr>
      <th>Ind</th>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= camp.ind %></td>
        <td><%= link_to camp.name, camp, {:style=>'color:#000000'} %></td>
        <td><%= camp.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
